%footer
  .row
    .large-12.columns
      .row
        .large-4.columns
          %ul
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} Auction With Us
        .large-4.columns
          %ul
            %li
              %a{:href => "#"} Blog
            %li
              %a{:href => "#"} Join Email List
            %li
              %a{:href => "#"} Contact Us
        .large-4.columns
          %ul
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Terms & Conditions