%footer.row
  .large-12.columns
    %hr
    .row
      .large-6.columns
        %p &copy; Copyright 2015
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link