%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"} My Site
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        %a{:href => "#"} Register Now
      %li
        %a{:href => "#"} Log In
      %li
        %a{:href => "#"} Videos
      %li
        %a{:href => "#"} Blog
      %li.active.has-dropdown
        %a{:href => "#"} ENG
        %ul.dropdown
          %li
            %a{:href => "#"} ESP
          %li
            %a{:href => "#"} POR