// Logo
.title-area {
  .name {
    h1 {
      text-indent: -9999px;
      width: 222px;
      a {
        background: url('../img/logo.png');
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.main {
  background: #ededed;
}

.teasers, .mission, .past-teasers {
  @include grid-row();
}

footer {
  padding-top: 10px;
}


// Module Layouts
.hero {
  width: 100%;
  position: relative;
  .hero__background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.mission__statement {
  @include grid-column(12);
}

.teaser {
  position: relative;
  margin-bottom: 3em;
  height: 520px;
  .teaser--past-teaser & {
    height: 390px;
  }
}

.teaser--main {
  @include grid-column(8, $collapse: true);
}
.teaser--secondary {
  @include grid-column(4,  $collapse: true);//, $float:right, $last-column: true);
}

.teaser--past-teaser {
  @include grid-column(4, $collapse: true);
  padding-left: 30px;
  &:first-child {
    padding-left: 0px;
  }
}
.teaser--layout {
  padding-left: 20px;
  &:nth-child(odd) {
    padding-right: 20px;
    padding-left: 0px;
  }
}

.teaser__img {
  height: 350px;
  overflow: hidden;
  .teaser--past-teaser & {
    height: 220px;
  }
  img {
    position: relative;
    top: 0px;
  }
}